@import url('../assets/fonts/bw-modelica/style.css');

//fonts
$bw: 'Bw Modelica Regular';
$bw-b: 'Bw Modelica Bold';
$bw-eb: 'Bw Modelica ExtraBold';
$bw-bl: 'Bw Modelica Black';
$bw-lt: 'Bw Modelica Light';
$bw-lt-it: 'Bw Modelica Light Italic';

//colors
$blue: #26255D;
$light-blue: #65ACDA;
$blued-grey: #AFBAC1;
$grey: #656565;
$light-grey: #BBBCBD;
$green: #5C5D25;